@font-face {
  font-family: faraz;
  src: url(../public/384.Font.Farsi/Faraz_MRT.TTF);

}

@font-face {
  font-family: Beirut;
  src: url(../public/384.Font.Farsi/Beirut\ Light_MRT.ttf);
}

html,
body {
  width: 100%;
  height: 100%;

}

.font-Beirut {
  font-family: Beirut;

}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

.main {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
  padding-top: 15px;
  background-color: #d9d9d9;

}

.item-radius {
  border-radius: 5px;
}

.allPadding {
  padding-left: 140px;
  padding-right: 140px;
}

.section-1 {
  background-color: #00838f;
  width: 100%;
  height: 30px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;



}

.justify-beetween {
  display: flex;
  flex-direction: row;
  gap: 4px;


}

.menu1-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.menu1-nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: faraz;
  font-size: 18px;

}

.calender {
  min-width: 150px;
  font-family: faraz;

}

.font-faraz {
  font-family: faraz;
}

.menu2-nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 2px;
}

.line {
  border: 1px solid white;
  width: 0.5px;
  height: 23px;
}

.icons {
  margin-top: 5px;
}

.section-2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 60px;
  direction: rtl;
  box-shadow: 0 2px 18px 0 rgb(0 0 0 / 13%);

}

.logo {
  width: 110px;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 10px;

}

.navbar a {
  color: #212121;
  text-decoration: none;
}

.navbar a:hover {
  color: #17a2b8;
  ;
}

.left-section {
  width: 43%;
  direction: rtl;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.left-section-section1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.left-section-section2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.news-box {
  background-color: #fff;
  height: auto;
  width: 300px;
  display: flex;
  flex-direction: column;

}

.news-box h5 {
  text-align: center;
  color: #00838f;
  ;
}

.btntype-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  

}

.btntype {
  width: 33.3333%;
  height: 40px;
  background-color: #fff;
  border: 0;
  font-size: 15px;
}

.version-container {
  background-color: #f4f3f3;
  display: flex;
  flex-direction: row;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;


}

.version-container button {
  width: 33.333%;
  height: 30px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #f4f3f3;
  font-family:Beirut ;
}