@font-face {
  font-family: faraz;
  src: url(../public/384.Font.Farsi/Faraz_MRT.TTF);

}

@font-face {
  font-family: Beirut;
  src: url(../public/384.Font.Farsi/Beirut\ Light_MRT.ttf);
}

@font-face {
  font-family: aman;
  src: url(../public/384.Font.Farsi/Aman_MRT.ttf);
}

@font-face {
  font-family: homa;
  src: url(../public/384.Font.Farsi/Homa.ttf);
}

html,
body {
  max-width: 100%;
  height: 100%;

}

.font-Beirut {
  font-family: Beirut;

}

.font-homa {
  font-family: homa;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

.main {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
  padding-top: 15px;
  background-color: #d9d9d9;

}

.item-radius {
  border-radius: 5px;
}

.allPadding {
  padding-left: 140px;
  padding-right: 140px;
}

.section-1 {
  background-color: #00838f;
  width: 100%;
  height: 30px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;



}

.justify-beetween {
  display: flex;
  flex-direction: row;
  gap: 4px;


}

.menu1-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.menu1-nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: faraz;
  font-size: 18px;

}

.calender {
  min-width: 150px;
  font-family: faraz;

}

.font-faraz {
  font-family: faraz;
}

.menu2-nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 2px;
}

.line {
  border: 1px solid white;
  width: 0.5px;
  height: 23px;
}

.icons {
  margin-top: 5px;
}

.section-2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 60px;
  direction: rtl;
  box-shadow: 0 2px 18px 0 rgb(0 0 0 / 13%);

}

.logo {
  width: 110px;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 10px;

}

.navbar a {
  color: #212121;
  text-decoration: none;
}

.navbar a:hover {
  color: #17a2b8;
  ;
}

.left-section {
  width: 43%;
  direction: rtl;
  display: flex;
  flex-direction: row;
  gap: 15px;

}

.left-section-section1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.left-section-section2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.news-box {
  background-color: #fff;
  height: auto;
  width: 300px;
  min-height: 650px;
  max-height: 650px;
  overflow: scroll;
  display: flex;
  flex-direction: column;

}

.news-box h5 {
  text-align: center;
  color: #00838f;
  ;
}

.btntype-container {
  display: flex;
  flex-direction: row;
  width: 100%;


}

.btntype {
  width: 33.3333%;
  height: 40px;
  background-color: #fff;
  border: 0;
  font-size: 15px;
}

.version-container {
  background-color: #f4f3f3;
  display: flex;
  flex-direction: row;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;


}

.version-container button {
  width: 33.333%;
  height: 30px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #f4f3f3;
  font-family: Beirut;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.item {
  margin-right: 20px;
  min-height: 1600px;
  max-height: 1600px;
  overflow: scroll;
  overflow: auto;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.item::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* Chrome/Safari/Webkit */
}

.ForeignLeague {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 10px;

}

.ForeignLeague h5 {
  font-family: homa;
  text-align: center;
}

.filter-ForeignLeague {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.filter-ForeignLeague select {
  font-family: homa;
  width: 120px;
  height: 30px;
  padding: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.p {}

.show-list-box {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.main-menu>ul>li {
  float: right;
  list-style: none;
  position: relative;
}


.main-menu ul li ul {
  position: absolute;
  width: 250px;
  background: #fff;
  top: 115px;
  right: 0;
  box-shadow: 0px 1px 6px #e6e6e6;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease-in-out;
  z-index: 999;
}

.main-menu ul li ul li {
  list-style: none;
}

.main-menu ul li ul li a {
  padding: 9px 15px;
  display: block;
  font-weight: normal;

}

.main-menu>ul>li:hover ul {
  opacity: 1;
  visibility: visible;
  top: 23px;
}

.show-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 30px;
}

.show-list-head {
  margin-top: 15px;
  width: 100%;
  height: 30px;
  background-color: #4285f4;
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  min-width: 160px;
  max-width: 160px;
}

.play-icon {
  font-size: 15px;
  color: #00838f;
}

.test {
  color: #00838f;

}

.slidre {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.slider1 {
  margin: 0 auto;

  position: absolute;
  max-width: 800px;
  text-align: center;


  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

.lastSlide {
  opacity: 0;
  transform: translateX(-100%);
}

.nextSlide {
  opacity: 0;
  transform: translateX(100%);
}

.slider-img {
  width: 300px;


}

.head-slider {
  background-color: #ffffff;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.head-slider h5 {
  margin-top: 10px;
}



.item-next {
  margin-top: 270px;
}

.slider-footer {
  background-color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  max-width: 300px;

}

.p {
  width: 50px;
}

.league-section {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.league-section h4 {
  font-family: homa;
  color: #17a2b8;
  text-align: center;
}

.item-league {
  display: flex;
  flex-direction: row;
  height: 27px;
  gap: 30px;



}

.item-league div {
  min-width: 30%;
  max-width: 30%;
}


.item-name {
  display: flex;
  flex-direction: row;
  gap: 30px;

}

.rank {
  min-width: 30px;
  max-width: 30px;
  text-align: center;

}

.team {
  min-width: 110px;
  max-width: 110px;
  text-align: center;


}

.game {
  min-width: 15px;
  max-width: 15px;

}

.point {
  min-width: 15px;
  max-width: 15px;
}

.white {
  background-color: #fff;
}

.gray {
  background-color: #f2f2f2;
}

.show-list-head p {
  text-align: center;
  font-family: homa;
  color: white;
}

.right-section {
  direction: rtl;
  width: 53%;
  display: flex;
  flex-direction: column;
  


}
.right-section1{ 
  display: flex;
  flex-direction: column ;
  gap: 20px;
  width: 48%;
  
}
.right-section2{
  width:49%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-section-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  
}

.big-slider {
  max-width: 615px;
  min-width: 615px;
  background-color: #fff;
  height: 199px;
  display: flex;
  flex-direction: row;
  direction: rtl;
  position: absolute;


}
.section1-bigslider img{ 
  width: 300px;
}

.big-slider div {
  display: flex;
  flex-direction: row;

}

.section2-bigslider {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.index-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.index-btn button {
  border: transparent;
  width: 20px;

}
.item-next2{ 
  margin-top: 220px;
}
.footer{ 
  background-color: #19242E;
  direction: rtl;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footer-item{ 
  display: flex;
  flex-direction: column;
  padding: 50px;
  padding-right: 80px;
  
}
.footer-item h5{
  color: white;
  font-family: homa;
}
.footer-item p{ 
  color: #999;
  font-family: homa;
  font-size: 90%;
}